@page

@{
    ViewData["Title"] = "Welcome - Stock Chat App";
}

<div class="text-center">
    <h1 class="display-6">Welcome to the stock chat app</h1>
    <p class="justify-content-center">In this <a href="Chat">chat</a>  you can talk to other users and ask the stock value using the command /stock=stock_code</p>
</div>

